<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Asetukset</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>
        <nav>
            <a th:href="${pelaaja.linkki}">Oma sivu</a>
            <a href="/uudetpelit">Uudet pelit</a>
            <a href="/omatpelit">Omat pelit</a>
            <a href="/pelatutpelit">Pelatut pelit</a>
            <a href="/pelaajahaku">Hae pelaajia</a>
            <a href="/asetukset">Asetukset</a>
            <form method="POST" action="/ulos">
                <input type="submit" value="Kirjaudu ulos"/>
            </form>
        </nav>
        
        <h1>Asetukset</h1>
        
        <h2>Tietosi:</h2>
        <ul>
            <li>Käyttäjänimi: <span th:text="${pelaaja.kayttajanimi}">käyttäjänimi</span></li>
            <li>Pelaajanimi: <span th:text="${pelaaja.nimi}">pelaajanimi</span></li>
        </ul>
        
        <h2>Vaihda pelaajanimi (nimi joka näkyy muille pelaajille):</h2>
        
        <form method="POST">
            Uusi nimi: 
            <input type="text" name="uusinimi"/>
            <input type="submit"/>
        </form>
        
        <h2>Poista käyttäjä (VAROITUS: toiminto ei peruutettavissa!):</h2>
        
        <form method="POST" action="/poistakayttaja">
            Kirjoita käyttäjänimesi varmistukseksi: <input type="text" name="nimitarkistus"/>
            Kirjoita salasanasi: <input type="password" name="salasana"/>
            <input type="submit" value="Poista käyttäjäni"/>
        </form>
        
    </body>
</html>
