<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pelaaja</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>
        <nav>
            <a th:href="${pelaaja.linkki}">Oma sivu</a>
            <a href="liitypeliin.html">Uudet pelit</a>
            <a href="omatpelit.html">Omat pelit</a>
            <a href="pelatutpelit.html">Vanhat pelit</a>
            <a th:href="${etsipelaajia}">Hae pelaajia</a>
            <a href="asetukset.html">Asetukset</a>
            <form method="POST" action="/ulos">
                <input type="submit" value="Kirjaudu ulos"/>
            </form>
        </nav>
        
        <h1>Hae pelaajia</h1>
        
        <form method="GET">
            Nimi: <input type="text" name="pelaaja"/>
            <input type="submit" value="Hae"/>
        </form>
        
        <ul>
            <li th:each="pelaaja :${pelaajat}">
                Pelaajan nimi: 
                <a th:href="${pelaaja.linkki}">
                    <span th:text="${pelaaja.nimi}">nimi</span>
                </a>
            </li>
        </ul>
        
    </body>
</html>

