<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Shakkisivusto</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>
        
        <h1>Shakkisivusto</h1>
        
        <p>Tervetuloa shakkisivustolleni! Kirjaudu sisään "kirjaudu sisään"-kohdassa 
            tai tee uusi käyttäjä "Rekisteröidy"-kohdassa</p>
        
        <h2>Kirjaudu sisään</h2>
        <form method="POST">
            Käyttäjätunnus: <input type="text" name="kayttaja"/><br/>
            Salasana: <input type="password" name="salasana"/><br/>
            <input type="submit" value="Kirjaudu sisään"/>
        </form>
        
        <h2>Rekisteröidy</h2>
        
        <p>
            Rekisteröidy shakkisivustolle. Käyttäjätunnuksen ja salasanan täytyy 
            olla vähintään kolme merkkiä pitkä ja sallitut merkit ovat isot ja pienet 
            kirjaimet sekä numerot. Varoitus: tietokanta tallentaa tällä hetkellä 
            salasanat <b>selväkielisinä!!!!!!</b>
        </p>
        
        <form method="POST" action="/rekisterointi">
            Käyttäjätunnus: <input type="text" name="kayttaja"/><br/>
            Salasana: <input type="password" name="salasana"/><br/>
            <input type="submit" value="Rekisteröidy"/>
        </form>
    </body>
</html>
