<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Omat pelit</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>
        <nav>
            <a th:href="${pelaaja.linkki}">Oma sivu</a>
            <a href="/uudetpelit">Uudet pelit</a>
            <a href="/omatpelit">Omat pelit</a>
            <a href="/pelatutpelit">Pelatut pelit</a>
            <a href="/pelaajahaku">Hae pelaajia</a>
            <a href="/asetukset">Asetukset</a>
            <form method="POST" action="/ulos">
                <input type="submit" value="Kirjaudu ulos"/>
            </form>
        </nav>
        
        <h1>Pelaajan <span th:text="${pelaaja.nimi}"></span> pelit:</h1>
        
        <ul>
            <li th:each="peli: ${pelit}">
                <h2 th:text="${peli.nimi}">Pelin nimi</h2>
                <p>Status: <span th:text="${peli.status}"></span></p>
                <p>Vuoro: <span th:text="${peli.uusinVuoronumero}">0</span></p>
                <p><a th:href="${peli.pelisivu}">linkki peliin</a></p>
            </li>
        </ul>
        
        <h2><a href="/uusipeli">Luo uusi peli</a></h2>
    </body>
</html>
