<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Omat pelit: Pelaaja</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>
        <nav>
            <a href="pelaajasivu.html">Oma sivu</a>
            <a href="liitypeliin.html">Uudet pelit</a>
            <a href="omatpelit.html">Omat pelit</a>
            <a href="pelatutpelit.html">Vanhat pelit</a>
            <a href="asetukset.html">Asetukset</a>
        </nav>
        
        <h1>Pelaajan X pelit:</h1>
        
        <ul>
            <li>
                <h2>Pelin nimi</h2>
                <p>Vuoro: 0</p>
                <a href="pelisivu.html">linkki peliin</a>
                <form method="POST">
                    <input type="checkbox" value="Varmistus" name="varmistus"/>
                    <input type="submit" value="Poistu pelistä"/>
                </form>
            </li>
        </ul>
    </body>
</html>
