<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Vanhat pelit: Pelaaja</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>
        <nav>
            <a th:href="${pelaaja.linkki}">Oma sivu</a>
            <a href="/uudetpelit">Uudet pelit</a>
            <a href="/omatpelit">Omat pelit</a>
            <a href="/pelatutpelit">Pelatut pelit</a>
            <a href="/pelaajahaku">Hae pelaajia</a>
            <a href="/asetukset">Asetukset</a>
            <form method="POST" action="/ulos">
                <input type="submit" value="Kirjaudu ulos"/>
            </form>
        </nav>
        
        <form method="GET">
            Hae pelaajalla: 
            <input type="text" name="pealaajannimi"/>
            <input type="submit" value="Hae"/>
        </form>
        
        <h1>Pelaajan X pelatut pelit:</h1>
        
        <ul>
            <li>
                <h2>Pelin nimi</h2>
                <p>Vuoro: 0</p>
                <p>Peli loppui: 2000.01.01 00:00:00</p>
                <a href="pelisivu.html">linkki peliin</a>
                <form method="POST">
                    <input type="checkbox" value="Varmistus" name="varmistus"/>
                    <input type="submit" value="Poistu pelistä"/>
                </form>
            </li>
        </ul>
    </body>
</html>