<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Vanhat pelit: Pelaaja</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>
        <nav>
            <a th:href="${pelaaja.linkki}">Oma sivu</a>
            <a href="/uudetpelit">Uudet pelit</a>
            <a href="/omatpelit">Omat pelit</a>
            <a href="/pelatutpelit">Pelatut pelit</a>
            <a href="/pelaajahaku">Hae pelaajia</a>
            <a href="/asetukset">Asetukset</a>
            <form method="POST" action="/ulos">
                <input type="submit" value="Kirjaudu ulos"/>
            </form>
        </nav>
        
        <h1><span th:text="${pelaaja.nimi}">Pelaaja</span>n pelatut pelit:</h1>
        
        <ul>
            <li th:each="peli: ${pelit}">
                <h2 th:text="${peli.nimi}">Pelin nimi</h2>
                <p th:text="${peli.vuoroja}">Vuoroja: 0</p>
                <p>Peli loppui: <span th:text="${peli.viimeisintekoaika}">2000.01.01 00:00:00</span></p>
                <a th:href="${peli.katselusivu}">linkki peliin</a>
            </li>
        </ul>
    </body>
</html>