<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pelaaja</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>
        <nav>
            <a th:href="${pelaaja.linkki}">Oma sivu</a>
            <a href="liitypeliin.html">Uudet pelit</a>
            <a href="/omatpelit">Omat pelit</a>
            <a href="pelatutpelit.html">Vanhat pelit</a>
            <a href="/pelaajahaku">Hae pelaajia</a>
            <a href="asetukset.html">Asetukset</a>
            <form method="POST" action="/ulos">
                <input type="submit" value="Kirjaudu ulos"/>
            </form>
        </nav>
        
        <h1 th:text="${pelaaja.nimi}">Pelaajan nimi</h1>
        
        <h2>Tilastot:</h2>
        
        <table>
            <tr>
                <td>Voittoja:</td>
                <td th:text="${pelaaja.voittoja}">0</td>
            </tr>
            <tr>
                <td>Tappioita:</td>
                <td th:text="${pelaaja.tappioita}">0</td>
            </tr>
        </table>
    </body>
</html>
