<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pelisivu</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>
        <nav>
            <a th:href="${pelaaja.linkki}">Oma sivu</a>
            <a href="/uudetpelit">Uudet pelit</a>
            <a href="/omatpelit">Omat pelit</a>
            <a href="/pelatutpelit">Pelatut pelit</a>
            <a href="/pelaajahaku">Hae pelaajia</a>
            <a href="/asetukset">Asetukset</a>
            <form method="POST" action="/ulos">
                <input type="submit" value="Kirjaudu ulos"/>
            </form>
        </nav>
        
        <h1 th:text="${peli.nimi}">Pelin nimi</h1>
        
        <ul>
            <li>O = tyhjä</li>
            <li>S = sotilas</li>
            <li>L = lähetti</li>
            <li>H = ratsu</li>
            <li>T = torni</li>
            <li>G = kuningatar</li>
            <li>K = kuningas</li>
            <li>[] = valkoinen</li>
            <li>{} = musta</li>
        </ul>
        
        <table>
            <tr th:each="rivi: ${kartta}">
                <td th:each="ruutu: ${rivi}">
                    <span th:text="${ruutu}">O</span>
                </td>
            </tr>
        </table>
        
        <div th:switch="${vuorotilanne}">
            <div th:case="onvuoro">
                <h2>Tee vuorosi:</h2>
                <p>
                    Tee vuorosi ilmoittamalla sijainnin, josta haluat siirtää nappulan, 
                    ja sijainnin, johon haluat siirtää kyseisen nappulan. Käytä muotoa
                    AN jossa A on kirjain A-H ja N on numero välillä 1-8.
                </p>
                <form method="POST">
                    Siirrettävän nappulan sijainti<input type="text" name="mista"/>
                    Paikka johon nappula siirretään<input type="text" name="minne"/>
                    <input type="submit"/>
                </form>
            </div>
            
            <div th:case="toisenvuoro">
                <p>On toisen pelaajan vuoro.</p>
            </div>
            
            <div th:case="toinenpelaajaeiliittynyt">
                <p>Toinen pelaaja ei ole vielä liittynyt peliin. Odota että vastapelaaja liittyy ja pelaa sitten vuorosi.</p>
            </div>
        </div>
    </body>
</html>
