<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Peli: pelin nimi</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>
        <nav>
            <a href="pelaajasivu.html">Oma sivu</a>
            <a href="liitypeliin.html">Uudet pelit</a>
            <a href="omatpelit.html">Omat pelit</a>
            <a href="pelatutpelit.html">Vanhat pelit</a>
            <a href="asetukset.html">Asetukset</a>
        </nav>
        
        <h1>Pelin nimi</h1>
        
        <table>
            <p>Taulukko kentästä</p>
        </table>
        
        <h2>Tee vuorosi:</h2>
        <p>
            Tee vuorosi ilmoittamalla sijainnin, josta haluat siirtää nappulan, 
            ja sijainnin, johon haluat siirtää kyseisen nappulan. Käytä muotoa
            AN jossa A on kirjain A-H ja N on numero välillä 1-8.
        </p>
        <form>
            Siirrettävän nappulan sijainti<input type="text" name="mista"/>
            Paikka johon nappula siirretään<input type="text" name="minne"/>
            <input type="submit"/>
        </form>
    </body>
</html>
